@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@90,200..900;100,200..900&display=swap");
html {
  display: flex;
  max-width: 69ch;
  padding: 4em 1em;
  justify-content: center;
  margin: auto;
  line-height: 1.5;
  font-size: 1.2em;
  font-family: "Inconsolata", monospace;
}

.excerpt {
  font-size: 1em;
  line-height: 1.5;
  margin: 0 0 0.5em;
}

.nextread {
  line-height: 1.5;
}

.caption {
  color: #909090;
  font-size: 82%;
  font-style: italic;
  text-align: center;
}
.caption a {
  color: #909090;
  text-decoration: underline;
  text-decoration-color: #909090;
}

.neonText, h1, h2, h3 {
  animation: flicker 5s infinite alternate;
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow: 0 0 1px #fff, 0 0 18px var(--flicker-color);
  }
  20%, 24%, 55% {
    text-shadow: none;
  }
}
body {
  overflow-x: hidden;
}

@media screen and (prefers-color-scheme: dark) {
  strong {
    color: #ffd670;
  }
}
@media screen and (prefers-color-scheme: light) {
  strong {
    color: #ff9770;
  }
}

@media screen and (prefers-color-scheme: dark) {
  em {
    color: #70d6ff;
  }
}
@media screen and (prefers-color-scheme: light) {
  em {
    color: #9770ff;
  }
}

iframe {
  max-width: 100%;
  margin: auto;
  display: block;
}

mjx-container {
  border-radius: 15px;
  overflow-x: auto;
  overflow-y: hidden;
}

@media screen and (max-width: 650px) {
  html {
    font-size: 110%;
  }
}
@media screen and (prefers-color-scheme: light) {
  html {
    color: black;
  }
  ::selection {
    background: #c8fffd;
  }
}
@media screen and (prefers-color-scheme: light) {
  html {
    color: black;
  }
  ::selection {
    background: #c8fffd;
    background: #e0e0e0;
  }
  blockquote {
    border-left: 2px solid black;
  }
  table,
  th,
  td {
    border: thin solid black;
  }
  a {
    color: black;
  }
  h4.excerpt {
    color: #909090;
  }
}
@media screen and (prefers-color-scheme: dark) {
  html {
    color: #e0e0e0;
    background-color: #121212;
  }
  ::selection {
    background: #c8fffd;
    color: black;
  }
  pre,
  code {
    background: rgb(48, 48, 48);
  }
  blockquote {
    border-left: 2px solid #e0e0e0;
  }
  table,
  th,
  td {
    border: thin solid #e0e0e0;
  }
  a {
    color: #e0e0e0;
  }
  h4.excerpt {
    color: #b5b5b5;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-variation-settings: "wdth" 90;
  margin: 1em 0 0.5em;
}

.title {
  margin: 1em 0 0.2em;
}

p,
ol {
  margin-bottom: 1em;
}

.postlist {
  padding: unset;
  list-style-type: none;
}

.post {
  margin: 0 0 1.5em;
  display: list-item;
  list-style-type: none;
  padding-bottom: 0.5em;
  padding-right: 0.5em;
}
@media screen and (prefers-color-scheme: light) {
  .post {
    box-shadow: 0px 3px 0px black, 4px 0px 0px 0px black;
  }
}
@media screen and (prefers-color-scheme: dark) {
  .post {
    box-shadow: 0px 3px 0px #e0e0e0, 4px 0px 0px 0px #e0e0e0;
  }
}

.post-meta {
  text-align: right;
}

.footnote-item {
  line-height: 1.2;
}

.edit {
  padding: 1rem;
  border-radius: 15px;
}
@media screen and (prefers-color-scheme: light) {
  .edit {
    border: thin solid #000000;
  }
}
@media screen and (prefers-color-scheme: dark) {
  .edit {
    border: thin solid #e0e0e0;
  }
}

img {
  max-width: 100%;
  margin: 0.5rem auto;
  display: block;
  height: auto;
}

blockquote {
  font-style: italic;
  margin: 0 0.3rem 0 0.3rem;
}
blockquote p {
  margin: 0 0.3rem 0 1.5rem;
}

pre {
  font-size: 14px;
  max-height: 300px;
  overflow: scroll;
  padding: 1rem;
  border-radius: 15px;
  white-space: pre-wrap;
  word-break: break-all;
}

table {
  width: 100%;
}

table,
th,
td {
  border-collapse: collapse;
  padding: 0.4rem;
}

.table-wrapper {
  overflow-x: auto;
}

a {
  text-decoration: underline;
  text-decoration-thickness: 0.3ex;
  text-decoration-color: #5b84b1;
}
a:hover {
  font-weight: bold;
  text-decoration-color: #fc766a;
}

.posttitle {
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
}
.posttitle:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.3ex;
  text-decoration-color: #5b84b1;
}

.header-anchor {
  color: #909090;
  text-decoration: none;
}
@media screen and (min-width: 700px) {
  .header-anchor {
    left: 0.15rem;
    position: relative;
    width: 0.8em;
  }
}

@media screen and (min-width: 700px) and (hover: hover) {
  .header-anchor__symbol {
    visibility: hidden;
  }
  h2:hover .header-anchor__symbol, h3:hover .header-anchor__symbol, h4:hover .header-anchor__symbol, h5:hover .header-anchor__symbol, h6:hover .header-anchor__symbol, .header-anchor:focus .header-anchor__symbol {
    visibility: visible;
  }
}

.screen-reader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.archive {
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
}
.archive:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.3ex;
  text-decoration-color: #5b84b1;
}

@media screen and (prefers-color-scheme: light) {
  .footnote-link {
    text-decoration: none;
    color: #0c359e;
  }
}
@media screen and (prefers-color-scheme: dark) {
  .footnote-link {
    text-decoration: none;
    color: #5b84b1;
  }
}
.footnote-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.3ex;
  text-decoration-color: #fc766a;
}

tag {
  font-size: 80%;
  margin: 0;
}
tag #life {
  text-decoration-color: #ffd670;
}
tag #literature {
  text-decoration-color: #70d6ff;
}
tag #books {
  text-decoration-color: #e9ff70;
}
tag #philosophy {
  text-decoration-color: #ff9770;
}
tag #technical {
  text-decoration-color: #e9ff70;
}
tag #musings {
  text-decoration-color: #ff70a6;
}
tag #debugging {
  text-decoration-color: #ffd670;
}
tag #essay {
  text-decoration-color: #70d6ff;
}
tag #rationality {
  text-decoration-color: #e9ff70;
}
tag #people {
  text-decoration-color: #ff9770;
}
tag #culture {
  text-decoration-color: #ff70a6;
}
tag #psychology {
  text-decoration-color: #70ff99;
}
tag #fitness {
  text-decoration-color: #70ff99;
}
tag #math {
  text-decoration-color: #9770ff;
}
tag #assamese {
  text-decoration-color: #9770ff;
}

nav {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

footer {
  font-size: small;
  text-align: center;
  padding: 25px;
  padding-top: 0.5em;
}

.tag {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 500px) {
  .tag {
    flex-direction: column;
  }
}

.twitter-tweet {
  margin: auto;
}

.nutshell-bubble-overflow-section svg {
  display: none;
}

.reading {
  margin-left: auto;
  font-size: 80%;
}
@media screen and (max-width: 500px) {
  .reading {
    margin: 0;
  }
}

audio {
  width: 100%;
  padding: 1em 0 1em;
}

/*# sourceMappingURL=css.css.map */
