---
title: Blog Archive
layout: base.njk
---
{% include "bloghead.njk" %}
<main>
    <hr>
    <div style="text-align: center">
        <h1 style="margin: 0.5em 0em 0em" >the Archive</h1>
        <h4 style="margin: 0em">Subscribe via <a href="https://nibirsan.org/feed.xml">RSS</a></h4>
    </div>
    {% set showYear = true %}
    {% set showMonth = true %}
    {% include "archive-list.njk" %} 
</main>


