---
layout: base.njk
---
<a href="/">{{ site.back_home_text }}/home</a><br>
<a href="/blog/">{{ site.back_home_text }}/blog</a>

<h1 class="title">{{ title }}</h1>
<h4 class="excerpt">{{ site.beliefs }}</h4>
<hr>

{{ content | safe }}

<h4 align="center"><a href="/blog/archive/">read my blog</a></h4>