---
title: Nibir's Brain Dump
layout: base.njk
---
<style type="text/css">

    .fcrow{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 0;
        align-items: center;
    }

</style>
<header>
    <div class="fcrow">
        <h1 style="margin: 0 0 0 0; text-align: center; line-height: 1.2">Nibir's Brain Dump</h1>
        <h2 style="margin: 0.5em 0 0 0;color: #909090; text-align: center; line-height: 1.2">yes I write too.</h2>
    </div>
</header>
<nav>
    <div class="navlinks">
        <a href="/">home</a>
        <a href="/blog/archive/">archive</a>
        <a href="/blog/math/">mathventures</a>
        {# <a href="https://visionoflife.substack.com">newsletter</a> #}
        <a href="/about/">about me</a>
    </div>
</nav>
<main>
    <hr>
    {{ content | safe }}
    <h2>Here are my most recent posts:</h2>
    <ul class="postlist">
        {%- for post in collections.post | reverse -%}
            {% if loop.index0 < 5 %}
                <li class="post">
                    <a href="{{ post.url }}" class="posttitle">{{ post.data.title }}</a> <time datetime="{{ post.date }}" style="color: #909090">{{ post.date | formatDate }}</time>
                    <br>
                    <span>{{ post.data.excerpt }}</span>
                    <br>
                    <tag>
                    {% for tag in post.data.tags -%}
                        {% if tag !== 'post' %}
                            <a id="{{ tag }}" href="/blog/t/{{ tag }}">#{{ tag }}</a>
                        {% endif %}
                    {%- endfor %}
                    </tag>
                    
                </li>
            {% endif %}
        {%- endfor -%}
    </ul>   
    <div style="text-align: center">
        <h4>Subscribe via <a href="https://nibirsan.org/feed.xml">RSS</a> | <a href="/blog/archive/">Archive</a></h4>
    </div>
    <div style="text-align: center">
        <tag>
        {% set tagList = collections | postTags %}
        {% for tag in tagList %}
            <a id="{{tag.name}}" href="/blog/t/{{ tag.name }}">#{{tag.name}}({{tag.count}})</a>
        {% endfor %}
        </tag>
    </div>
</main>

