---
layout: homebase.njk
---
<header>
    <div class="header">
        <div>
            <h1 class="name">Nibir Sankar</h1>
            <h2 class="whothis">A <span class="continue"></h2>
            <div>
                <a href="/blog">blog</a>
                {# <a href="/projects/">projects</a> #}
                <a href="https://run.nibirsan.org/podcast">podcast</a>
                <a href="/about/">about me</a>

            </div>
            <div>
                <a href="https://visionoflife.substack.com">newsletter</a>
                <a href="https://www.youtube.com/@nibirsankar">youtube</a>
                <a href="https://www.linkedin.com/in/nibirsankar">linkedin</a>
                <a href="https://github.com/moiSentineL">github</a>
            </div>
        </div>
            <img src="media/home/pf.webp" alt="" width="300" height="300" class="profile" id="int">
            <img src="media/home/pf1.webp" alt="" width="300" height="300" class="profile" id="int">
            <img src="media/home/pf2.webp" alt="" width="300" height="300" class="profile" id="int">
            <img src="media/home/pf3.webp" alt="" width="300" height="300" class="profile" id="int">
            <img src="media/home/pf4.webp" alt="" width="300" height="300" class="profile" id="int">
            <img src="media/home/pf5.webp" alt="" width="300" height="300" class="profile" id="int">
    </div>

<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("profile");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 3000); // Change image every 2 seconds
}
</script>
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>

    <script>
        var typed = new Typed('.continue', {
            strings: ['writer?', 'creator?', 'musician?', 'polymath?', 'philosopher?', 'thinker.'],
            typeSpeed: 65,
            backSpeed: 40,
            backDelay: 1700,
            })
    </script>
</header>
<main>
<hr>
{{ content | safe }}

</main>