---
layout: projects-base.njk
---
<header>
    <div class="header">
        <div>
            <h1 class="name">Projects</h1>
            <h2 class="subtitle">Things I have made in the past (and failed)</h2>
           {# <nav>
                <div class="navlinks">
                    <a href="/blog/">blog</a>
                    <a href="/blog/archive/">archive</a>
                    <a href="/blog/math/">mathventures</a>
                    <a href="https://visionoflife.substack.com">newsletter</a>
                    <a href="/about/">about me</a>
                </div>
            </nav>  #}
        </div>
    </div>
</header>
<main>
<hr>
{{ content | safe }}

</main>