---
layout: projects-base.njk
---
<header>
    <div class="header">
        <div>
            <h1 class="name">Projects</h1>
            <h2 class="subtitle">Things I have made in the past (and failed)</h2>
           {# <nav>
                <div class="navlinks">
                    <a href="/blog/">blog</a>
                    <a href="/blog/archive/">archive</a>
                    <a href="/blog/math/">mathventures</a>
                    <a href="https://visionoflife.substack.com">newsletter</a>
                    <a href="/about/">about me</a>
                </div>
            </nav>  #}
        </div>
    </div>
</header>
<main>
<hr>
    <div class="audio-player">
        <audio controls>
            <source src="/media/draft.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        <label for="pbrate">Speed:</label>
        <input type="range" id="pbrate" min=.5 max=3 value=1 step=.1>
        <span></span>
        <script>
            const audio = document.querySelector('.audio-player  audio');
            const playbackrate = document.querySelector('.audio-player input');
            const display = document.querySelector('.audio-player span');
            const displayvalue = val => {
            return parseInt(val * 100, 10) + '%'
            }
            display.innerText = displayvalue(audio.playbackRate);
            playbackrate.addEventListener('change', e => {
            audio.playbackRate = playbackrate.value;
            display.innerText = displayvalue(playbackrate.value);
            });
        </script>
    </div>
{{ content | safe }}

</main>