---
title: Blog Archive
layout: base.njk
permalink: "/blog/archive/"
---
<style type="text/css">

    .fcrow{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 0;
        align-items: center;
    }

    @media screen and (max-width: 650px) {
    }
</style>
<header>
    <div class="fcrow">
        <h1 style="margin: 0">Nibir's Brain Dump</h1>
        <h2 style="margin: 0;color: #909090">Blog | Digital Garden</h2>
    </div>
</header>
<nav>
    <div class="navlinks">
        <a href="/blog/">blog</a>
        <a href="/blog/archive/">archive</a>
        <a href="https://visionoflife.substack.com">newsletter</a>
        {# <a href="/">about me</a> #}
        <a href="/">about me</a>
    </div>
</nav>
<main>
    <hr>
    <ul class="postlist">
        {%- for post in collections.post | reverse -%}
            <li class="post">
                <a href="{{ post.url }}" class="posttitle">{{ post.data.title }}</a> <time datetime="{{ post.date }}" style="color: #909090">{{ post.date | formatDate }}</time>
                <br>
                <span class="excerpt">{{ post.data.excerpt }}</span>
            </li>
        {%- endfor -%}
    </ul>   
</main>


