<footer>
    <hr>
	<p>Enjoyed this rabbit hole?</p>
	<p>
	👉 <a href="/start">Start Here</a> — or <a target="_blank" rel="noopener noreferrer" href="https://t.me/nibirwins/">see what I have been upto</a>.
	<br>
	Subscribe to <a href="https://visionoflife.substack.com">my newsletter</a> for more thoughts & updates.
	</p>
	
     <a href="https://github.com/moiSentineL/moisentinel.github.io">Source Code <3</a> | <a href="https://nibirsan.org/feed.xml">RSS</a></h4>
	
	<p>
	Built & maintained by <a href="/about">Nibir Sankar</a>. 
        <br>© 2025 All rights reserved. <br>
	No cookies. No bullshit.
	</p>

    {# <div>
        <p>
            Built with:<br>
        <a href="https://www.11ty.dev/">11ty</a> - static site generator<br>
        <a href="https://pages.github.com/">github pages</a> - site hosting <br>
        <a href="https://ncase.me/nutshell/">nutshell</a> - better explanation snippets <br>
        <a href="https://github.com/markdown-it">markdown-it</a> family for mostly everything.
        </p>
    </div> #}
</footer>
