<footer>
    <hr>
    <div>
        {# © 2024 Nibir Sankar. All rights reserved.<br> #}
        <p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/">
            This domain is licensed under <a href="https://creativecommons.org/licenses/by-nc/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC BY-NC 4.0</a>
            <br>
            <a href="https://github.com/moiSentineL/moisentinel.github.io">Source Code <3</a>
        </p>
        
    </div>
    
    <div>
        <p>
            Built with:<br>
        <a href="https://www.11ty.dev/">11ty</a> - static site generator<br>
        <a href="https://pages.github.com/">github pages</a> - site hosting <br>
        <a href="https://ncase.me/nutshell/">nutshell</a> - better explanation snippets <br>
        <a href="https://github.com/markdown-it">markdown-it</a> family for mostly everything.
        </p>
    </div>
</footer>
