<script
    src="https://unpkg.com/littlefoot/dist/littlefoot.js"
    type="application/javascript"
    fetchpriority="low"></script>
    <script type="application/javascript">
    littlefoot.littlefoot({
        activateOnHover: true,
        activateDelay: 0,
        hoverDelay: 0,
        dismissOnUnhover: true,
        buttonTemplate: `<button
            aria-label="Footnote <% number %>"
            class="littlefoot__button"
            id="<% reference %>"
        /><% number %></button>`
    }) // Pass any littlefoot settings here.