<script src="https://cdn.jsdelivr.net/gh/ncase/nutshell/nutshell.min.js"></script>
<script>
Nutshell.setOptions({
    startOnLoad: true, // Start Nutshell on load? (default: true)
    lang: 'en', // Language (default: 'en', which is English)
    dontEmbedHeadings: true, // If 'true', removes the "embed this as a nutshell" option on headings
});
</script>