---
layout: base.njk
tags:
  - post

---
<a href="/blog/">{{ site.back_home_text }}</a>

<article>
  <p class="post-meta">
    <time datetime="{{ page.date }}">{{ page.date | formatDate }}</time>
  </p>
  
  <h1 class="title">{{ title }}</h1>
  <h4 class="excerpt">{{ excerpt }}</h4>
  <hr>
  
  {{ content | safe  }}

  <hr>
</article>