---
layout: base.njk
tags:
  - post

---
<a href="/blog/">{{ site.back_home_text }}</a>

<article>
  <p class="post-meta">
    <time datetime="{{ page.date }}">{{ page.date | formatDate }}</time>
  </p>
  
  <h1 class="title">{{ title }}</h1>
  <h4 class="excerpt">{{ excerpt }}</h4>
  <hr>
  
  {{ content | safe  }}

  <hr>
	<div class="nextread">
		<h3>Continue Reading</h3>
			<p>
			{% if nextPost.url %}
					<strong>Next</strong>:
					<a class="next" href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
			<br>
			{% endif %}
			
			{% if prevPost.url %}
					<strong>Previous</strong>:
					<a class="previous" href="{{ prevPost.url }}">{{ prevPost.data.title }}</a>
			{% endif %}
			</p>
	</div>
</article>