<ul class="postlist">
        {%- for post in collections.post | reverse -%}
            {% if loop.index0 < 5 %}
                <li class="post">
                    <a href="{{ post.url }}" class="posttitle">{{ post.data.title }}</a> <time datetime="{{ post.date }}" style="color: #909090">{{ post.date | formatDate }}</time>
                    <br>
                    <span>{{ post.data.excerpt }}</span>
                    <br>
                    <tag>
                    {% for tag in post.data.tags -%}
                        {% if tag !== 'post' %}
                            <a id="{{ tag }}" href="/blog/t/{{ tag }}">#{{ tag }}</a>
                        {% endif %}
                    {%- endfor %}
                    </tag>
                    
                </li>
            {% endif %}
        {%- endfor -%}