---
title: book reviews
layout: base.njk
---
{% include "bloghead.njk" %}
<main>
    <hr>
    <div style="text-align: center; ">
        <h1 style="margin-top: 0.5em;">/ book reviews /</h1>
    </div>
    <div>
        {{ content | safe }}
    </div>
    <hr>
	<div class="book-grid">
	  {%- for post in collections['books'] | reverse -%}
	    <article class="book-card">
	      {% if post.data.image %}
		<a href="{{ post.url }}" class="book-cover">
		  <img src="{{ post.data.image }}" alt="Cover of {{ post.data.title }}">
		</a>
	      {% endif %}
	      
	      <div class="book-content">
		{% if post.data.book %}
		  <a href="{{ post.url }}" class="book-title">{{ post.data.book }}</a>
		{% else %}
		  <a href="{{ post.url }}" class="book-title">{{ post.data.title }}</a>
		{% endif %}
		<time datetime="{{ post.date }}" class="book-date">
		  {{ post.date | formatDate }}
		</time>
	      </div>
	    </article>
	  {%- endfor -%}
	</div>

</main>


