---
layout: base.njk
---
<main>
  <a class="breadcrumb" href="/">{{ site.back_home_text }}</a><br>
    <div style="text-align: center; ">
        <h1 style="margin-top: 0.5em; ">/ {{ title }} /</h1>
	{# <p class="coredesc">{{ description }}</p> #}
	{% include "nav.njk" %}
    </div>
    <hr>
    <div>
        {{ content | safe }}
    </div>
</main>

