---
layout: homebase.njk
---
<main class="fadeInUp-animation">
<div class="container">
    <h1 class="name">hi there, i am nibir.</h1>

    <div class="others">	
        <p style="margin-top: 0">you expected a flashy homepage? lol. <a href="/start">start here</a>.</p>

	<nav>
	   <span class="brackets">[</span>
   	   <a href="/blog">brain dump</a>
	   <a href="/pages/">evergreen</a>
	   <a href="/projects/">projects</a>
	   <a href="/connect/">connect</a>
	   <span class="brackets">]</span>
	</nav>
	
    </div>
</div>

</main>
