---
layout: base.njk
---
<main>
  <a class="breadcrumb" href="/">{{ site.back_home_text }}</a><br>
    <div style="text-align: center; ">
        <h1 style="margin-top: 0.5em;">/ my evergreen pages /</h1>
	{% include "nav.njk" %}
    </div>
    <hr>
    <div>
        {{ content | safe }}
    </div>
    <ul>
        {%- for post in collections.mypages | reverse -%}
            
            <li>
                <a href="{{ post.url }}">{{ post.data.title }}</a> <time datetime="{{ post.date }}" style="color: #909090">{{ post.date | formatDate }}</time>
            </li>
            
        {%- endfor -%}
    </ul>   
</main>

<h4 align="center"><a href="/blog/">read my blog</a></h4>
