---
layout: base.njk
---
<style type="text/css">

    main {
        width: 100%;
    }

    div {

    }

    .gcse-search {
        font-size: 150%
    }


</style>
<a href="/">{{ site.back_home_text }}</a>

<main>
    <h1>search me, lol</h1>
    {{ content | safe }}
    <script async src="https://cse.google.com/cse.js?cx=a6f914d6169e84add">
    </script>
    <div class="gcse-search"></div>
</main>