---
layout: base.njk
---
<a href="/">{{ site.back_home_text }}</a>

    <div style="text-align: center; ">
        <h1 style="margin-top: 0.5em;">/ welcome /</h1>
    </div>
<hr>
{{ content | safe }}
