---
title: Top Posts
layout: base.njk
---
{% include "bloghead.njk" %}
<main>
    <hr>
    <div style="text-align: center; ">
        <h1 style="margin-top: 0.5em;">/ top posts /</h1>
    </div>
    <div>
        {{ content | safe }}
    </div>  
</main>


