---
layout: base.njk
---
<a href="/">{{ site.back_home_text }}</a>

<h2 data-heading="TL;DR">TL;DR</h2>
<p>I am a High Schooler from India who thrives to learn new things, looks out for self-improvement and loves autonomy. I am interested in <a data-tooltip-position="top" aria-label="https://moisentinel.github.io/blog/p/another-renaissance" rel="noopener" class="external-link" href="https://moisentinel.github.io/blog/p/another-renaissance" target="_blank">polymathy</a>, autodidactism, philosophy and math among many. I love talking to new people, music, reading and writing.</p>
<h2 data-heading="Now">Now</h2>
<p>Till March 11th, I am busy on my exams. And meanwhile, doing study-with-me livestreams on my <a data-tooltip-position="top" aria-label="https://www.youtube.com/@nibirsankar" rel="noopener" class="external-link" href="https://www.youtube.com/@nibirsankar" target="_blank">YouTube</a>, writing articles and finishing a few books (No Longer Human, Feel-Good Productivity, On Writing).</p>
<h2 data-heading="This year">This year</h2>
<p>My main goals for this year are:</p>
<ul>
<li>Becoming a knowledge worker- consume, consolidate, create.</li>
<li>Creating content- this blog, <a data-tooltip-position="top" aria-label="https://visionoflife.substack.com/" rel="noopener" class="external-link" href="https://visionoflife.substack.com/" target="_blank">newsletter</a>.</li>
<li>Getting more fit- health = wealth.</li>
<li>Becoming more confident- spread out and face fears, carpe diem.</li>
</ul>
<h2 data-heading="No but, who are you exactly?">No but, who are you exactly?</h2>
<p>I am that guy who tells you random facts about stuff just because they seem so exciting. I am fuelled by curiosity and the idea of helping people. I want to transcend beyond the norms. </p>
<p>Few of my blogs that shows some of my personality:</p>
<ul>
<li><a data-tooltip-position="top" aria-label="https://moisentinel.github.io/blog/p/i-am-an-addict" rel="noopener" class="external-link" href="https://moisentinel.github.io/blog/p/i-am-an-addict" target="_blank">I am an addict</a>- a poem I wrote in my native language </li>
<li><a data-tooltip-position="top" aria-label="https://moisentinel.github.io/blog/p/why-do-i-study" rel="noopener" class="external-link" href="https://moisentinel.github.io/blog/p/why-do-i-study" target="_blank">why do I study?</a></li>
<li><a data-tooltip-position="top" aria-label="https://moisentinel.github.io/blog/p/when-you-have-metamorphosised" rel="noopener" class="external-link" href="https://moisentinel.github.io/blog/p/when-you-have-metamorphosised" target="_blank">when you have metamorphosised</a></li>
</ul>
<p>I can help you for stuff like productivity systems, Obsidian, workflows, books, etc. I can also help you reach out to people that knows things beyond my understanding. </p>
<h3 data-heading="Flexing (i don't do that anymore)">Flexing (i don't do that anymore)</h3>
<p>I am a self-taught guitarist, programmer, musician. I know and speak several languages: Assamese (Native), English, Hindi, Sanskrit (a bit); in that order of proficiency. An aspiring researcher; published a <a data-tooltip-position="top" aria-label="https://osf.io/preprints/socarxiv/ytwqd/" rel="noopener" class="external-link" href="https://osf.io/preprints/socarxiv/ytwqd/" target="_blank">paper</a> about environment in my region.</p>
<p>I participated in YUVIKA '23 (Young Scientist Programme) held by ISRO and was a participant in ANVIKA '23 Programme hosted by Indian Institute of Space Science and Technology. I am eager to attend more programs/camps in the upcoming summer. I will be satisfied with anything that makes me learn new things, skills and makes me a better person.</p>
<h3 data-heading="Okay, you seem cool enough, where can I reach you?">Okay, you seem cool enough, where can I reach you?</h3>
<p>In that order:</p>
<ul>
<li>Discord- @moisentinel</li>
<li><a href="mailto:nibirsankar26@gmail.com">Email</a></li>
<li><a data-tooltip-position="top" aria-label="https://github.com/moiSentineL" rel="noopener" class="external-link" href="https://github.com/moiSentineL" target="_blank">GitHub</a></li>
<li><a data-tooltip-position="top" aria-label="https://www.linkedin.com/in/nibirsankar/" rel="noopener" class="external-link" href="https://www.linkedin.com/in/nibirsankar/" target="_blank">LinkedIn</a></li>
<li><a data-tooltip-position="top" aria-label="https://twitter.com/moisentinel" rel="noopener" class="external-link" href="https://twitter.com/moisentinel" target="_blank">X/Twitter</a></li>
</ul>