---
layout: base.njk
---
<h1 data-heading="Who?">Who?</h1>
<ul>
<li>In a path of lifelong learning.</li>
<li>Stoic</li>
<li>Thriving for self-improvement.</li>
<li>I love learning new things and freedom.</li>
</ul>
<h1 data-heading="What do I actually do?">What do I actually do?</h1>
<ul>
<li>I am a musician. I play the guitar and sing.</li>
<li><a data-tooltip-position="top" aria-label="https://osf.io/preprints/socarxiv/ytwqd/" rel="noopener" class="external-link" href="https://osf.io/preprints/socarxiv/ytwqd/" target="_blank">Researcher</a> and learning.</li>
<li>Avid Reader, you'd see my <a class="internal-link" data-href="/essays/crime-and-punishment-review" href="/essays/crime-and-punishment-review" target="_blank" rel="noopener">writing</a> about it often.</li>
<li>A amateur philosopher; love reading Camus.</li>
<li>Future astrophysicist.</li>
</ul>
<h1 data-heading="What have you done till now?">What have you done till now?</h1>
<ul>
<li>Attended YUVIKA on</li>
</ul>