---
title: Blog Archive
layout: base.njk
---
{% include "bloghead.njk" %}
<main>
    <hr>
    <div style="text-align: center">
        <h4>Subscribe via <a href="https://nibirsan.org/feed.xml">RSS</a></h4>
    </div>
    {% set showYear = true %}
    {% set showMonth = true %}
    {% include "postlist.njk" %} 
</main>


