---
title: Nibir's Brain Dump
layout: base.njk
---
{% include "bloghead.njk" %}
<main>
    <hr>
    <p>
        Hey there! I am <a href="/">Nibir</a>, and welcome to my blog-ish kinda thing.
        I <i>definitely</i> don't post nonsensical stuff here. 
        <br>You're free to view the posts as you like,
        although there's the <a href="/blog/archive/">archive</a> you can go to.
        Good luck! (you might really need it..)
    </p>
    <p>
        Use of <a href="https://hypothes.is">hypothes.is</a> is encouraged for a better internet, for all of us.
    </p>
    <h3>Here are my most recent posts:</h3>
    <ul class="postlist">
        {%- for post in collections.post | reverse -%}
            {% if loop.index0 < 5 %}
                <li class="post">
                    <a href="{{ post.url }}" class="posttitle">{{ post.data.title }}</a> <time datetime="{{ post.date }}" style="color: #909090">{{ post.date | formatDate }}</time>
                    <br>
                    <span>{{ post.data.excerpt }}</span>
                    <br>
                    <tag>
                    {% for tag in post.data.tags -%}
                        {% if tag !== 'post' %}
                            <a id="{{ tag }}" href="/blog/t/{{ tag }}">#{{ tag }}</a>
                        {% endif %}
                    {%- endfor %}
                    </tag>
                </li>
            {% endif %}
        {%- endfor -%}
    </ul>   
    <div style="text-align: center">
        <h4>Subscribe via <a href="https://moisentinel.github.io/feed.xml">RSS</a></h4>
    </div>
    <div style="text-align: center">
        <tag>
        {% set tagList = collections | postTags %}
        {% for tag in tagList %}
            <a id="{{tag.name}}" href="/blog/t/{{ tag.name }}">#{{tag.name}}({{tag.count}})</a>
        {% endfor %}
        </tag>
    </div>
</main>

