---
layout: homebase.njk
---
<style type="text/css">

    .fcrow{
        display: flex;
        flex-direction: row;
        padding-bottom: 2ch;
    }
    .name{
        padding-bottom: 0rem;
        line-height: 0.5;
        font-size: 300%;
        margin-top: 2em;
        margin-bottom:0.6em;
    }
    .this{
        padding-bottom: 0rem;
        line-height: 0.5;
        font-size: 150%;
        margin-top: 0rem;
        padding-top: 0rem;
        margin-bottom:1em;
        color: #909090;
        font-weight: 500;
    }
    .img_deg{
        align-self: center;
        float: right;
        width: 30%;
        margin-right: 0.5em;
        margin-bottom: 0em;
        border-radius: 50%;
        height: auto;
    }

    @media screen and (max-width: 650px) {
        .fcrow{
            display: flex;
            flex-direction: column;
        }
        .name{
            margin-top: 0rem;
            padding-top: 0rem;
            padding-bottom: 0rem;
            margin-bottom: 0.75rem;
            line-height: 0.85;
            font-size: 200%;
        }
        .this{
            padding-bottom: 0rem;
            margin-bottom: 1rem;
            line-height: 0.5;
            margin-bottom:0.6em;
            color: #909090;
            font-weight: 500;
        }
        .img_deg {
        align-self: center;
        width: 50%;
        margin: auto;
        margin-top:1.5em;
        margin-bottom: 0em;
        border-radius: 50%;
        height: auto;
        }
    }
</style>
<header>
    <div class="fcrow">
        <div>
            <h1 class="name">Nibir Sankar</h1>
            <h2 class="this">A <span class="continue"></h2>
            <div>
                <a href="/blog">blog</a>
                <a href="/pantheon/">podcast</a>
                <a href="/about/">about me</a>

            </div>
            <div>
                <a href="https://visionoflife.substack.com">newsletter</a>
                <a href="https://www.youtube.com/@nibirsankar">youtube</a>
                <a href="https://www.linkedin.com/in/nibirsankar">linkedin</a>
                <a href="https://github.com/moiSentineL">github</a>
            </div>
        </div>
        <img src="media/home/pf.webp" alt="" width="1280" height="1280" class="img_deg" id="int">
        <img src="media/home/pf1.webp" alt="" width="1280" height="1280" class="img_deg" id="int">
        <img src="media/home/pf2.webp" alt="" width="1280" height="1280" class="img_deg" id="int">
        <img src="media/home/pf3.webp" alt="" width="1280" height="1280" class="img_deg" id="int">
        <img src="media/home/pf4.webp" alt="" width="1280" height="1280" class="img_deg" id="int">
        <img src="media/home/pf5.webp" alt="" width="1280" height="1280" class="img_deg" id="int">
        
    </div>

<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("img_deg");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 3000); // Change image every 2 seconds
}
</script>
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>

    <script>
        var typed = new Typed('.continue', {
            strings: ['writer?', 'creator?', 'musician?', 'polymath?', 'philosopher?', 'thinker.'],
            typeSpeed: 65,
            backSpeed: 40,
            backDelay: 1700,
            })
    </script>
</header>
<main>
    <hr>
    <p>
        Hi there! I am <b>Nibir Sankar</b> from Assam, India. I am currently in High School, searching for a meaningful life.
    </p>
    <p>
        I am a bit ambitious about <b>life</b>, and want to explore and learn new things. 
        I am really interested in philosophy, theoretical physics, math and literature. 
        While I am not studying or doing my projects, I enjoy reading, writing, playing music and tweaking my workflows.

    </P>
    {# <p>
        You can learn more about me and what I am upto now here.
    </p> #}
    <p>
        You should subscribe to my <a href="https://visionoflife.substack.com">newsletter</a> or you can learn more <a href="/about/">about me</a>.
    <hr>

</main>