---
layout: base.njk
---
<style type="text/css">

    main {
        width: 75ch;
    }

    div {

    }

    .gcse-search {
        font-size: 150%
    }

    @media screen and (max-width: 650px) {
    }
</style>
<main>
    <h1>search me, lol</h1>
    <script async src="https://cse.google.com/cse.js?cx=a6f914d6169e84add">
    </script>
    <div class="gcse-search"></div>
</main>