// css go brr

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@90,200..900;100,200..900&display=swap');

$transwhite: #e0e0e0;
$pale-azure: #70d6ffff;
$cyclamen: #ff70a6ff;
$atomic-tangerine: #ff9770ff;
$naples-yellow: #ffd670ff;
$mindaro: #e9ff70ff;
$lime-green: #70ff99;
$violet: #9770ff;

@mixin theme($theme) {
  @if $theme == dark {
    @media screen and (prefers-color-scheme: dark) {
      @content;
    }
  }

  @if $theme == light {
    @media screen and (prefers-color-scheme: light) {
      @content;
    }
  }
}

html {
  display: flex;
  max-width: 69ch;
  padding: 4em 1em;
  justify-content: center;
  margin: auto;
  line-height: 1.5;
  font-size: 1.2em;
  font-family: "Inconsolata", monospace;
}

.excerpt {
  font-size: 1em;
  line-height: 1.5;
  margin: 0 0 0.5em;
}

.nextread {
  line-height: 1.5;
}

.caption {
  color: #909090;
  font-size: 82%;
  font-style: italic;
  text-align: center;

  a {
    color: #909090;
    text-decoration: underline;
    text-decoration-color: #909090;
  }
}

.neonText {
  animation: flicker 5s infinite alternate;
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

    text-shadow:
      0 0 1px #fff,
      0 0 18px var(--flicker-color),
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}

body {
  overflow-x: hidden;
}



strong {
  @include theme(dark) {
    color: $naples-yellow;
  }
  @include theme(light) {
    color: $atomic-tangerine;
  }
}

em {
  @include theme(dark) {
    color: $pale-azure;
  }
  @include theme(light) {
    color: $violet;
  }
}

iframe {
  max-width: 100%;
  margin: auto;
  display: block;
}

mjx-container {
  // padding: 0rem;
  border-radius: 15px;
  overflow-x: auto;
  overflow-y: hidden;
}


@media screen and (max-width: 650px) {
  html {
    font-size: 110%;
  }
}

@include theme(light) {
  html {
    color: black;
  }
  ::selection {
    background: #c8fffd;
  }
  pre,
  code {
  }
}

@include theme(light) {
  html {
    color: black;
  }
  ::selection {
    background: #c8fffd;
    background: #e0e0e0;
  }
  blockquote {
    border-left: 2px solid black;
  }
  table,
  th,
  td {
    border: thin solid black;
  }
  a {
    color: black;
  }
  h4.excerpt {
    color: #909090;
  }
}

@include theme(dark) {
  html {
    color: #e0e0e0;
    background-color: #121212;
  }
  ::selection {
    background: #c8fffd;
    color: black;
  }

  pre,
  code {
    background: rgb(48, 48, 48);
  }
  blockquote {
    border-left: 2px solid #e0e0e0;
  }
  table,
  th,
  td {
    border: thin solid #e0e0e0;
  }
  a {
    color: #e0e0e0;
  }

  h4.excerpt {
    color: #b5b5b5;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-variation-settings: "wdth" 90;
  margin: 1em 0 0.5em;
}

h1, h2, h3 {
  @extend .neonText;
}

.title {
  margin: 1em 0 0.2em;
}


p,
ul,
ol {
  margin-bottom: 1em;
}

.postlist {
  padding: unset;
  list-style-type: none;
}

.post {
  margin: 0 0 1.5em;
  display: list-item;
  list-style-type: none;

  padding-bottom: 0.5em;
  padding-right: 0.5em;

  @include theme(light) {
    box-shadow:
      0px 3px 0px black,
      4px 0px 0px 0px black;
  }
  @include theme(dark) {
    box-shadow:
      0px 3px 0px #e0e0e0,
      4px 0px 0px 0px #e0e0e0;
  }
}

.post-meta {
  text-align: right;
}

.footnote-item {
  line-height: 1.2;
}

.edit {
  padding: 1rem;
  border-radius: 15px;
  @include theme(light) {
    border: thin solid #000000;
  }
  @include theme(dark) {
    border: thin solid #e0e0e0;
  }
}

img {
  max-width: 100%;
  margin: 0.5rem auto;
  display: block;
  height: auto;
}

blockquote {
  font-style: italic;
  margin: 0 0.3rem 0 0.3rem;

  p {
    margin: 0 0.3rem 0 1.5rem;
  }
}

pre {
  font-size: 14px;
  max-height: 300px;
  overflow: scroll;
  padding: 1rem;
  border-radius: 15px;
  white-space: pre-wrap;
  word-break: break-all;
}

table {
  width: 100%;
}

table,
th,
td {
  border-collapse: collapse;
  padding: 0.4rem;
}

.table-wrapper {
  overflow-x: auto;
}

a {
  text-decoration: underline;
  text-decoration-thickness: 0.3ex;
  text-decoration-color: #5b84b1ff;

  &:hover {
    font-weight: bold;
    text-decoration-color: #fc766aff;
  }
}

.posttitle {
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.3ex;
    text-decoration-color: #5b84b1;
  }
}

.header-anchor {
  color: #909090;
  text-decoration: none;
  @media screen and (min-width: 700px) {
    left: 0.15rem;
    position: relative;
    width: 0.8em;
  }
}

.header-anchor__symbol {
  @media screen and (min-width: 700px) and (hover: hover) {
    visibility: hidden;

    h2:hover &,
    h3:hover &,
    h4:hover &,
    h5:hover &,
    h6:hover &,
    .header-anchor:focus & {
      visibility: visible;
    }
  }
}

.screen-reader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.archive {
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.3ex;
    text-decoration-color: #5b84b1;
  }
}

.footnote-link {
  @include theme(light) {
    text-decoration: none;
    color: #0c359e;
  }
  @include theme(dark) {
    text-decoration: none;
    color: #5b84b1;
  }

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.3ex;
    text-decoration-color: #fc766aff;
  }
}

tag {
  font-size: 80%;
  margin: 0;

  #life {
    text-decoration-color: $naples-yellow;
  }
  #literature {
    text-decoration-color: $pale-azure;
  }
  #books {
    text-decoration-color: $mindaro;
  }
  #philosophy {
    text-decoration-color: $atomic-tangerine;
  }
  #technical {
    text-decoration-color: $mindaro;
  }
  #musings {
    text-decoration-color: $cyclamen;
  }
  #debugging {
    text-decoration-color: $naples-yellow;
  }
  #essay {
    text-decoration-color: $pale-azure;
  }
  #rationality {
    text-decoration-color: $mindaro;
  }
  #people {
    text-decoration-color: $atomic-tangerine;
  }
  #culture {
    text-decoration-color: $cyclamen;
  }
  #psychology {
    text-decoration-color: $lime-green;
  }
  #fitness {
    text-decoration-color: $lime-green;
  }
  #math {
    text-decoration-color: $violet;
  }
  #assamese {
    text-decoration-color: $violet;
  }
}

nav {
  // position: sticky;
  // top: 0px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  // background: $transwhite;
  // backdrop-filter: blur(1px);
}

footer {
  font-size: small;
  text-align: center;
  padding: 25px;
  padding-top: 0.5em;
}

div {
  
}

.tag {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 500px) {
    flex-direction: column;
  }
}

.twitter-tweet {
  margin: auto;
}

.nutshell-bubble-overflow-section {
  // current workaround to avoid double math blocks in nutshells
  svg {
      display: none;
  } 

}

span {

}

.reading {
  margin-left: auto;
  font-size: 80%;
  @media screen and (max-width: 500px) {
    margin: 0;
  }
}

audio {
  width: 100%;
  padding: 1em 0 1em;
}
