// for homepage
// reduced workload to css.scss

html {
    position: fixed;
    height: 100vh;
    max-width: 75ch;
    line-height: 1.6;
    font-size: 1.1em;
    font-family: Recursive, monospace;
}

// body {
//     position: fixed;
//     top: 50%;
//     left: 50%;
//     max-width: 75ch;
//     height: auto;
//     -webkit-transform: translate(-50%,-50%);
//     -moz-transform: translate(-50%,-50%);
//     -ms-transform: translate(-50%,-50%);
//     -o-transform: translate(-50%,-50%);
//     transform: translate(-50%,-50%);
// }

/* Base styles for the body */
body {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // width: 50%;
    // height: 50%;
        // widthr: 100px;
    position: fixed;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

// /* Medium screens */
// @media screen and (min-width: 768px) {
//     body {
//         width: 80%;
//     }
// }

// /* Large screens */
// @media screen and (min-width: 1024px) {
//     body {
//         width: 70%;
//     }
// }

// /* Extra large screens */
// @media screen and (min-width: 1440px) {
//     body {
//         width: 60%;
//     }
// }

// /* Ensure the body doesn't get too small on very narrow screens */
// // @media screen and (max-width: 640px) {
// //     body {
// //         width: 95%;
// //         padding: 10px;
// //     }
// //     html, body {
// //         height: 100%;
// //         overflow: auto;
// //     }
// // }

// /* Additional styles to handle overflow */
// html, body {
//     height: 100vh;
//     overflow: auto;
// }

.header{
    display: flex;
    flex-direction: row;
    padding-bottom: 2ch;
}

.name{
    padding-bottom: 0rem;
    line-height: 0.5;
    font-size: 300%;
    margin-bottom:0.6em;
}

.whothis{
    padding-bottom: 0rem;
    line-height: 0.5;
    font-size: 150%;
    margin-top: 0rem;
    padding-top: 0rem;
    margin-bottom:1em;
    color: #909090;
    font-weight: 500;
}

@media screen and (max-width: 700px) {
    body {
        position: relative;
    }
}

@media screen and (max-width: 650px) {


    html{
        font-size: 100%;
    }

    .header{
        display: flex;
        flex-direction: column;
    }
    .name{
        margin-top: 0em;
        padding-top: 0rem;
        padding-bottom: 0rem;
        margin-bottom: 0.75rem;
        line-height: 0.85;
        font-size: 200%;
    }
    .whothis{
        padding-bottom: 0rem;
        margin-bottom: 1rem;
        line-height: 0.5;
        margin-bottom:0.6em;
        color: #909090;
        font-weight: 500;
    }
    
}

img {
    max-width: 100%;
    margin: 0.5rem auto;
    display: block;
}

.profile {
    display: block;
    width: 30%;
    margin: auto 0 0 auto;
    border-radius: 50%;
    height: auto;

    @media screen and (max-width:650px) {
        align-self: center;
        width: 50%;
        margin: auto;
        margin-top:1.5em;
        margin-bottom: 0em;
        border-radius: 50%;
        height: auto; 
    }
}