@font-face {
  font-family: IBM Plex Mono;
  src: url("IBMPlexMono-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: Recursive;
  src: url("https://fonts.googleapis.com/css2?family=Recursive:wght,MONO@300..800,0.5&display=swap");
}

html {
  display: flex;
  max-width: 75ch;
  padding: 2em 1em;
  justify-content: center;
  margin: auto;
  line-height: 1.6;
  font-size: 1.3em;
  font-family: Recursive, monospace;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  padding-bottom: 2ch;
}
.name {
  padding-bottom: 0rem;
  line-height: 0.5;
  font-size: 300%;
  margin-top: 2em;
  margin-bottom: 0.8em;
}
.subtitle {
  padding-bottom: 0rem;
  line-height: 0.5;
  font-size: 120%;
  margin-top: 0rem;
  padding-top: 0rem;
  //   margin-bottom: 1em;
  color: #909090;
  font-weight: 500;
}

@media screen and (max-width: 650px) {
  html {
    font-size: 100%;
  }

  .header {
    display: flex;
    flex-direction: column;
  }
  .name {
    margin-top: 0rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-bottom: 0.75rem;
    line-height: 0.85;
    font-size: 200%;
  }
  .whothis {
    padding-bottom: 0rem;
    margin-bottom: 0ch;
    line-height: 0.5;
    margin-bottom: 0.6em;
    color: #909090;
    font-weight: 500;
  }
}

@media screen and (prefers-color-scheme: light) {
  html {
    color: black;
  }
  ::selection {
    background: #c8fffd;
  }
  pre,
  code {
    background: #e0e0e0;
  }
  blockquote {
    border: thin solid black;
  }
  table,
  th,
  td {
    border: thin solid black;
  }
  a {
    color: black;
  }
  h4.excerpt {
    color: #909090;
  }
}

@media screen and (prefers-color-scheme: dark) {
  html {
    color: #e0e0e0;
    background-color: #121212;
  }
  ::selection {
    background: #c8fffd;
    color: black;
  }
  pre,
  code {
    background: rgb(48, 48, 48);
  }
  blockquote {
    border: thin solid #e0e0e0;
  }
  table,
  th,
  td {
    border: thin solid #e0e0e0;
  }
  tag {
    color: #000000 !important;
  }
  a {
    color: #e0e0e0;
  }

  h4.excerpt {
    color: #b5b5b5;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1em 0 0.5em;
}
.title {
  margin: 1em 0 0.2em;
}

p,
ul,
ol {
  margin-bottom: 1em;
}

.postlist {
  padding: unset;
  list-style-type: none;
}

.post {
  margin: 0 0 1em;
  display: list-item;
  list-style-type: none;
}

.post-meta {
  text-align: right;
}

img {
  max-width: 100%;
  margin: 0.5rem auto;
  display: block;
}

.profile {
  display: block;
  width: 30%;
  margin: auto 0 0 auto;
  border-radius: 50%;
  height: auto;

  @media screen and (max-width: 650px) {
    align-self: center;
    width: 50%;
    margin: auto;
    margin-top: 1.5em;
    margin-bottom: 0em;
    border-radius: 50%;
    height: auto;
  }
}

blockquote {
  font-style: italic;
  margin: 0 0.3rem 0 0.3rem;
}

blockquote p {
  margin: 0 0.3rem 0 0.3rem;
}

pre {
  font-size: 14px;
  max-height: 300px;
  overflow: scroll;
  padding: 1rem;
  border-radius: 15px;
  white-space: pre-wrap;
  word-break: break-all;
}

table {
  width: 100%;
}

table,
th,
td {
  border-collapse: collapse;
  padding: 0.4rem;
}

.table-wrapper {
  overflow-x: auto;
}

a {
  text-decoration: underline;
  text-decoration-thickness: 0.3ex;
  text-decoration-color: #5b84b1ff;
}

a:hover {
  font-weight: bold;
  text-decoration-color: #fc766aff;
}

nav {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

footer {
  font-size: small;
  text-align: center;
  padding: 25px;
  padding-top: 0.5em;
}
