---
layout: base.njk
tags:
  - post

---
<header role="banner">
<a class="breadcrumb" href="/blog/books">> ~/books</a>

{% include "hero.njk" %}

  <p class="post-meta">
    <time datetime="{{ page.date }}">{{ page.date | formatDate }}</time>
  </p>
  
  <h1 class="title">{{ title }}</h1>
  <h4 class="excerpt">{{ excerpt }}</h4>
  {% include "posttags.njk" %}
  <hr>
</header>
  
<main id="content" role="main">
<article>	
  {{ content | safe  }}
</article>

<h4 align="center"><a href="/blog/">read the blog</a></h4>

  <hr>
	<div class="nextread">
		<h3>Continue Reading - Book Reviews</h3>
			<p>
			{% if nextBook.url %}
					<strong>Next</strong>:
					<a class="next" href="{{ nextBook.url }}">{{ nextBook.data.book if nextBook.data.book else nextBook.data.title }}</a>
			<br>
			{% endif %}
			
			{% if prevBook.url %}
					<strong>Previous</strong>:
					<a class="previous" href="{{ prevBook.url }}">{{ prevBook.data.book if prevBook.data.book else prevBook.data.title }}</a>
			{% endif %}
			</p>
	</div>
</main>

	<hr>
	<script src="https://giscus.app/client.js"
        data-repo="moiSentineL/moisentinel.github.io"
        data-repo-id="R_kgDOLKbZeg"
        data-category="Announcements"
        data-category-id="DIC_kwDOLKbZes4Cervi"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
	</script>	

<script>
  const hero = document.querySelector('.hero');
  window.addEventListener('scroll', () => {
    const scrollY = window.scrollY;
    const fadeHeight = 400; // how many pixels to fade hero
    hero.style.opacity = Math.max(0, 1 - scrollY / fadeHeight);
  });
</script>

