@font-face {
    font-family: IBM Plex Mono;
    src: url("IBMPlexMono-Regular.ttf");
    font-display: swap;
}

:root {
    --pale-azure: #70d6ffff;
    --cyclamen: #ff70a6ff;
    --atomic-tangerine: #ff9770ff;
    --naples-yellow: #ffd670ff;
    --mindaro: #e9ff70ff;
}

html {
    display: flex;
    max-width: 69ch;
    padding: 4em 1em;
    justify-content: center;
    margin: auto;
    line-height: 1.6;
    font-size: 1.2em;
    font-family: IBM Plex Mono;
}

.excerpt {
    font-size: 1em; 
    line-height: 1.5;
    margin: 0 0 0.5em;
}

.nextread {
    line-height: 1.5;
}

.caption {
    color: #909090;
    font-size: 82%;
    font-style: italic;
    text-align: center;
}

@media screen and (max-width: 650px) {
    html{
        font-size: 1em;
    }

}

@media screen and (prefers-color-scheme: light) {
    html{
        color: black;
    }
    ::selection {
        background: #C8FFFD;
      }
    pre, code {
        background: #e0e0e0;
    }
    blockquote{
        border: thin solid black;
    }
    table, th, td{
        border: thin solid black;
    }
    a {
        color: black
    }
    h4.excerpt {
        color: #909090;
    }
}

@media screen and (prefers-color-scheme: dark) {
    html{
        color: #e0e0e0;
        background-color: #121212;
    }
    ::selection {
        background: #C8FFFD;
        color: black;
      }
    pre, code {
        background: rgb(48, 48, 48);
    }
    blockquote{
        border: thin solid #e0e0e0;
    }
    table, th, td{
        border: thin solid #e0e0e0;
    }
    tag {
        color: #000000 !important;
    }
    a {
        color:#e0e0e0;
    }
    
    h4.excerpt {
        color: #b5b5b5;
    }
}

h1,h2,h3,h4,h5,h6 {
    margin: 1em 0 0.5em;
}
.title {
    margin: 1em 0 0.2em;
}

  
p,ul,ol {
    margin-bottom: 1em;
}

.postlist{
    padding: unset;
    list-style-type: none;
}

.post{
    margin: 0 0 1.5em;
    display: list-item;
    list-style-type: none;
    /* outline: thin solid;
    outline-offset: 0.5em; */
    padding-bottom: 0.5em;
    padding-right: 0.5em;
    @media screen and (prefers-color-scheme: light) {
        box-shadow: 0px 3px 0px black, 4px 0px 0px 0px black;
    }
    @media screen and (prefers-color-scheme: dark) {
        box-shadow: 0px 3px 0px #e0e0e0, 4px 0px 0px 0px #e0e0e0;
    }
}
  

.post-meta {
    text-align: right;
}

.footnote-item {
    line-height: 1.2;
}

img {
    max-width: 100%;
    margin: 0.5rem auto;
    display: block;
    height:auto;
}

blockquote {
    font-style: italic;
    margin: 0 0.3rem 0 0.3rem
}

blockquote p {
    margin: 0 0.3rem 0 0.3rem;
}

pre {
    font-size: 14px;
    max-height: 300px;
    overflow: scroll;
    padding: 1rem;
    border-radius: 15px;
    white-space: pre-wrap;
    word-break: break-all;
}

table { width: 100%; }

table, th, td {
  border-collapse: collapse;
  padding: 0.4rem;

}

.table-wrapper {
    overflow-x: auto;
}

a {
    text-decoration: underline;
    text-decoration-thickness: .3ex;
    text-decoration-color: #5B84B1FF;
}

.posttitle {
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}

.posttitle:hover {
    text-decoration: underline;
    text-decoration-thickness: .3ex;
    text-decoration-color: #5B84B1;
}

.header-anchor {
    color: #909090;
    text-decoration: none;
    @media screen and (min-width: 700px) {
      left: 0.15rem;
      position: relative;
      width: 0.8em;
    }

}
  
.header-anchor__symbol {
    @media screen and (min-width: 700px) and (hover: hover) {
        visibility: hidden;

        h2:hover &,
        h3:hover &,
        h4:hover &,
        h5:hover &,
        h6:hover &,
        .header-anchor:focus & {
            visibility: visible;
        }
    }
}
   
.screen-reader-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.archive {
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
}

.archive:hover {
    text-decoration: underline;
    text-decoration-thickness: .3ex;
    text-decoration-color: #5B84B1;
}

.footnote-link {
    @media screen and (prefers-color-scheme: light){
        text-decoration: none;
        color: #0C359E;  
    }
    @media screen and (prefers-color-scheme: dark){
        text-decoration: none;
        color: #5B84B1;  
    }
}

.footnote-link:hover {
    text-decoration: underline;
    text-decoration-thickness: .3ex;
    text-decoration-color: #FC766AFF;
}

tag{
    font-size: 80%;
    margin: 0;
}

a:hover {
    font-weight: bold;
    text-decoration-color: #FC766AFF;
}

tag #life {
    text-decoration-color: var(--naples-yellow);
}

tag #literature {
    text-decoration-color: var(--pale-azure);
}

tag #philosophy {
    text-decoration-color: var(--atomic-tangerine);
}

tag #technical {
    text-decoration-color: var(--mindaro);
}

tag #musings {
    text-decoration-color: var(--cyclamen);
}

tag #debugging {
    text-decoration-color: var(--naples-yellow);
}

tag #essay {
    text-decoration-color: var(--pale-azure);
}

tag #rationality {
    text-decoration-color: var(--mindaro);
}

tag #people {
    text-decoration-color: var(--atomic-tangerine);
}

tag #gg {
    text-decoration-color: var(--cyclamen);
}


nav {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

footer{
    font-size: small;
    text-align: center;
    padding: 25px;
    padding-top: 0.5em;
}


div {

}

.tag {
    display: flex;
    flex-direction: row;
    
    @media screen and (max-width: 500px) {
        flex-direction: column;
    }
}

span {

}

.reading {
    margin-left: auto;
    font-size: 80%;
    @media screen and (max-width: 500px) {
        margin: 0;
    }

}